<section id="portfolio" class="py-16 bg-gray-50 text-center">
  <h2 class="text-3xl font-bold mb-10 text-gray-900">Our Portfolio</h2>

  <div class="grid md:grid-cols-3 gap-8 px-8 max-w-6xl mx-auto">
    <div class="rounded-lg overflow-hidden shadow-md bg-white">
      <img
        src="/images/portfolio1.png"
        alt="static website"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3 class="font-semibold text-lg text-blue-600">Static website</h3>
        <p class="text-sm text-gray-600 mb-3">
          Built for a local architect to get more clients.
        </p>
        <a
          href="http://www.architectnirmalsaini.com"
          target="_blank"
          class="inline-block px-4 py-2 bg-green-700 text-white font-medium rounded-md shadow-sm hover:bg-green-800 hover:shadow-md transition duration-200"
        >
          Live Demo
        </a>
      </div>
    </div>

    <div class="rounded-lg overflow-hidden shadow-md bg-white">
      <img
        src="/images/portfolio2.png"
        alt="Restaurant Pos System"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3 class="font-semibold text-lg text-blue-600">Restaurant POS System</h3>
        <p class="text-sm text-gray-600 mb-3">
          Built for a restaurant to take order using POS.
        </p>
         <a
          href="https://restoapp.onrender.com/"
          target="_blank"
          class="inline-block px-4 py-2 bg-green-700 text-white font-medium rounded-md shadow-sm hover:bg-green-800 hover:shadow-md transition duration-200"
        >
          Live Demo
        </a>
      </div>
    </div>

    <div class="rounded-lg overflow-hidden shadow-md bg-white">
      <img
        src="/portfolio2.jpg"
        alt="POS System"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3 class="font-semibold text-lg text-blue-600">POS Billing System</h3>
        <p class="text-sm text-gray-600">
          Complete retail billing and inventory solution.
        </p>
      </div>
    </div>

    <div class="rounded-lg overflow-hidden shadow-md bg-white">
      <img
        src="/portfolio3.jpg"
        alt="Corporate Website"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3 class="font-semibold text-lg text-blue-600">Corporate Website</h3>
        <p class="text-sm text-gray-600">
          Professional business site for a consulting firm.
        </p>
      </div>
    </div>
  </div>
</section>
